@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/roboto/Roboto-Thin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/roboto/Roboto-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/roboto/Roboto-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/roboto/Roboto-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/roboto/Roboto-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/roboto/Roboto-Black.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
}

:root.light {
    /* === CARDS === */
    --card-color: #e6e6e6;
    --card-background-color: #1783db;

    /* === BODY === */
    --body-background-color: #f1f1f1;
    --body-color: #1f2630;

    /* === HEADER === */
    --header-background-color: #1783db;
    --header-color: #d8d8d8;

    /* === LINK === */
    --link-color: #1f2630;

    /* === MENU_SIDE === */
    --menu_side-profile-image-unset: #ffffff75;
    --menu_side-profile-imagebg-unset: #00000054;
    --menu_side-background-color: #1783db;
    --menu_side-color: #e1e1e1;

    /* === Configuration === */
    --config-options-icons: #1783db;

    /* === Profile === */
    --profile-image-unset: #e0e0e0;
    --profile-imagebg-unset: #c4c4c4;
    --profile__data--color: #353535;
    --profile__data-background-color: rgba(0, 0, 0, 0.075);
    --profile__data--editable: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpath fill="black" d="M421.7 220.3L188.5 453.4L154.6 419.5L158.1 416H112C103.2 416 96 408.8 96 400V353.9L92.51 357.4C87.78 362.2 84.31 368 82.42 374.4L59.44 452.6L137.6 429.6C143.1 427.7 149.8 424.2 154.6 419.5L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3zM492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75z"/%3E%3C/svg%3E');

    /* === Agenda === */
    --agenda__taskOpts--svgIcon: #127ace;
    --agenda__taskBtn--background-color: #1094ff;
    --taskCard--completed: #00ff7e;
    --taskCard--uncompleted: #0000004f;
    --newtask__background-color: #F1F1F1;
    --newtask__form--inputBackground-color: #dedede;
    --acceptBtn-background-color: #1783db;
    --moreDetailTask-border-color: #2d2d2d3b;
    --moreDetailTask-svgDate-fill: #00000057;
    --moreDetailTaks-completedButton-color: #315179;
    --moreDetailTaks-uncompletedButton-color: #545d68;

    /* === LOGIN === */
    --valid-button-left: #3255f1;
    --valid-button-right: #50b9ff;
    --login-input-background-color: #d7d7d7c2;
    --login-input-color: #1f26308a;
    --login-input-placeholder-color: #8080804b;
    --login-input-focusVisible-color: #1f2630bd;
    --loginwo: #6a6a6aba;

    /* === ALERT BOX === */
    --alert-color: #1a6a16;
    --alertSuccess-background-color: #4cb548;

    --alertError-background-color: #b54848;
    --alertError-color: #6a1616;
}

:root.dark {
    /* === CARDS === */
    --card-color: #d8d8d8;
    --card-background-color: #1d232a;

    /* === BODY === */
    --body-background-color: #161b22;
    --body-color: #e1e1e1;
    --wave: #2b3a50;

    /* === HEADER === */
    --header-background-color: #252d38;

    /* === LINK === */
    --link-color: #E1E1E1;

    /* === MENU_SIDE === */
    --menu_side-profile-image-unset: #ffffff4a;
    --menu_side-profile-imagebg-unset: #00000030;
    --menu_side-background-color: #252d38;
    --menu_side-color: #e1e1e1;

    /* === Configuration === */
    --config-border-bottom: #ffffff1a;
    --config-options-icons: #e1e1e1;

    /* === Profile === */
    --profile-image-unset: #e1e1e1d2;
    --profile-imagebg-unset: #e1e1e11c;
    --profile__data--color: #cccccc;
    --profile__data-background-color: rgba(0, 0, 0, 0.137);
    --profile__data--editable: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpath fill="white" d="M421.7 220.3L188.5 453.4L154.6 419.5L158.1 416H112C103.2 416 96 408.8 96 400V353.9L92.51 357.4C87.78 362.2 84.31 368 82.42 374.4L59.44 452.6L137.6 429.6C143.1 427.7 149.8 424.2 154.6 419.5L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3zM492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75z"/%3E%3C/svg%3E');

    /* === Agenda === */
    --agenda__taskBtn--background-color: #252d39;
    --agenda__taskOpts--svgIcon: #202730;
    --newtask__background-color: hsl(214, 19%, 16%);
    --newtask__form--inputBackground-color: #191e25;
    /* --taskCard--background-color: #1d232a; */
    --taskCard--completed: #00ff7e;
    --taskCard--uncompleted: #5f728896;
    --acceptBtn-background-color: #252d38;
    --moreDetailTask-border-color: #ffffff0d;
    --moreDetailTask-svgDate-fill: #f1f1f1;
    --moreDetailTaks-uncompletedButton-color: #1b1e22;
    --moreDetailTaks-completedButton-color: #1e252e;

    /* === LOGIN === */
    --invalid-button-left: #21252c;
    --invalid-button-right: #2b3a50;
    --valid-button-left: #1e2742;
    --valid-button-right: #0068ff;
    --login-input-background-color: #12161c;
    --login-input-color: #838383;
    --login-input-placeholder-color: #8080804b;
    --login-input-focusVisible-color: #bfbfbf;
    --loginwo: #b1b1b15d;

    /* === ALERT BOX === */
    --alert-color: #1a6a16;
    --alertSuccess-background-color: #4cb548;

    --alertError-background-color: #b54848;
    --alertError-color: #6a1616;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
}

*:link, *:visited {
    color: var(--link-color);
}

body.preload *:not(main) {
    animation-duration: 0s !important;
    transition: all 0s !important;
}

body {
    background-color: var(--body-background-color);
    color: var(--body-color);
    font-family: 'Roboto', sans-serif;
    z-index: 0;
    transition: all 0.3s;
    height: 100vh;
    font-size: 2.2vh;
    font-weight: 300;
}

main {
    overflow: scroll;
    height: inherit;
    padding: 5.5em 1.5em 1.5em 1.5em;
    opacity: 0;
    transform: translateY(-2em);
    animation: main-slide 0.5s .2s cubic-bezier(0.21, 0.01, 0, 1.04) forwards;
}

@keyframes main-slide {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4em;
    background-color: var(--header-background-color);
    color: var(--header-color);
    transition: all 0.3s;
    z-index: 100;
}

.icon__menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.icon__menu > h1 {
    font-size: 2vh;
    font-weight: 400;
}

#toggle_menu {
    display: flex;
    padding: 1.2vh;
    width: 7vh;
    height: inherit;
    justify-content: center;
    align-items: center;
}

#toggle_menu > svg {
    width: 2vh;
}

#body_cover {
    background-color: black;
    transition: all 0.3s;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

#body_cover.darker {
    opacity: 0.3;
    z-index: 998;
}

#main_cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: black;
    transition: all 0.3s;
}

#main_cover.darker {
    opacity: 0.3;
    z-index: 90;
}

.menu_side {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: inherit;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 1em;
    transform: translateX(0);
    background-color: var(--menu_side-background-color);
    color: var(--menu_side-color);
    letter-spacing: 1px;
    transition: all .3s cubic-bezier(0, 0.93, 0.16, 1);
    z-index: 999;
}

.menu_title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 15vh;
    font-size: 2.4vh;
    font-weight: 400;
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), transform 0.7s cubic-bezier(.1,.82,.25,1);
    transition-delay: 0.2s;
}

.menu_title .profile--image {
    width: 80px;
    height: 80px;
    margin: 0;
    margin-left: 23px;
}

.menu_title .profile--image::after {
    background-color: var(--menu_side-profile-imagebg-unset);
}

.menu_title .profile--image svg {
    fill: var(--menu_side-profile-image-unset);
    width: 40px;
}

.menu_title > span {
    margin-left: 10px;
    color: var(--header-color);
}

.options__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    margin-top: 1em;
    transform: translateY(0);

    transition: opacity 0.2s cubic-bezier(0.67, 0, 0.34, 0.99), transform 0.5s cubic-bezier(.1,.82,.25,1);    transition-delay: 0.32s;
}

.options__menu a {
    color: #e1e1e1bb;
    transition: all 0.3s;
}

.options__menu > :last-child {
    margin-bottom: 1em;
}

.nav_options {
    display: flex;
    flex-direction: column;
}

.nav_options a:first-child > .option {
    border-top: solid 1px #ffffff46;
    width: 80%;
}

.options__menu a:hover {
    color: white;
}

.options__menu .option {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    
}

.options__menu .option svg {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4 {
    font-weight: 300;
    cursor: pointer;
}

.options__menu a:not(.selected) {
    margin-left: 23px;
}

.options__menu a.selected {
    display: flex;
    align-items: center;
    color: #fff;
}

.selected:before {
    content: '';
    width: 3px;
    height: 80%;
    margin-right: 20px;
    background: white;
}

.menu_closed {
    transform: translateX(-101%);
    transition: all .3s cubic-bezier(1, 0, 1, 0.15);
}

.menu_closed .menu_title {
    opacity: 0;
    transform: translateX(-2em);
    transition: 0s;
    transition-delay: 0.3s;
}

.menu_closed .options__menu {
    opacity: 0;
    transform: translateY(-46px);
    transition: 0s;
    transition-delay: 0.3s;
}

/* Inicio */

.socialNews--title {
    margin-bottom: 1em;
    font-size: 20px;
    font-weight: 500;
}

.socialNews__posts {
    display: flex;
    width: max-content;
}

.socialNews__posts > div:not(:last-child) {
    margin-right: 1.2em;
}

.socialNews__posts--newCard {
    width: 380px;
    height: 460px;
    color: var(--card-color);
    background-color: var(--card-background-color);
    padding: 1.2em;
    border-radius: 5px;
    font-weight: 400;
}

.socialNews__newCard {
    height: 100%;
    border-radius: 5px;
}

.socialNews__newCard--img {
    width: 100%;
    margin-bottom: 1.2em;
}

.socialNews__newCard--img img {
    width: 349px;
    height: 349px;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
}

.socialNews__newCard--text {
    letter-spacing: 0.6px;
}


/* --- Profile --- */
.profile {
    display: flex;
    width: 100%;
    margin-top: 3em;
}

.profile__box {
    display: flex;
    flex-direction: column;
    width: inherit;
}

.profile--image {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.profile--image > svg {
    width: 100px;
    fill: var(--profile-image-unset);
}

.profile--image::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 200px;
    height: 200px;
    background-color: var(--profile-imagebg-unset);
}

.profile__name {
    display: flex;
    justify-content: center;
    width: inherit;
    margin: 1.3em 0;
    position: relative;
}

.profile__name > span {
    font-size: 1.3em;
    letter-spacing: 1px;
    position: relative;
}

.profile__name.editable > span::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 8;
    margin-left: 15px;
    background-image: var(--profile__data--editable);
    background-repeat: no-repeat;
    opacity: .2;
    transition: all 0.3s ease-in-out;
}

.profile__data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: inherit;
    height: 70px;
    border-radius: 0.3em;
    padding-left: 1em;
    margin-top: 1.3em;
    color: var(--profile__data--color);
    background-color: var(--profile__data-background-color);
    font-size: 1em;
    letter-spacing: 1px;
}

.profile__data--editable::after {
    content: '';
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    background-image: var(--profile__data--editable);
    background-repeat: no-repeat;
    opacity: .3;
}


/* PAGINA CONFIGURACION */

a.config > div {
    display: flex;
}

.config {
    display: flex;
    align-items: center;
    font-size: 1.2vh;
    border-bottom: solid .3px var(--config-border-bottom);
    padding: 1.6em;
    letter-spacing: 2px;
    text-decoration: none;
    transition: all 0.3s;
}

.config svg {
    fill: var(--config-options-icons);
    width: 1.8vh;
    transition: all 0.3s;
}

.config h2 {
    margin-left: 2vh;
    font-weight: 300;
}

/* AGENDA */
.schedule {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}
/* Lista de tareas */
.schedule > .taskList {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.schedule> .taskList > .taskTitles {
    margin-bottom: 1em;
    font-size: 20px;
    font-weight: 500;
}

.schedule > .taskList > .taskTitles:nth-child(1n+2) {
    margin-bottom: 0;
    margin-top: 1.49776em;
}

.schedule > .taskList > .taskCard {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    width: 100%;
    height: 15vh;
    border-radius: 15px;
    color: var(--card-color);
    background-color: var(--card-background-color);
    font-size: 0.8em;
}

.schedule > .taskList > .taskCard > .taskCard__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.schedule > .taskList > div:nth-child(1n+3) {
    margin-top: 2em;
}

.schedule > .taskList > .taskCard > .taskCard__box > .taskCard__box--leftContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.schedule > .taskList > .taskCard > .taskCard__box > .taskCard__box--leftContent > span:first-child {
    font-size: 1.2em;
    font-weight: bold;
}

.schedule > .taskList > .taskCard > .taskCard__box > .taskCard__box--rightContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.schedule > .taskList > .taskCard > .taskCard__box > .taskCard__box--rightContent > .completed {
    color: var(--taskCard--completed);
    font-weight: 800;
    font-size: 1.05em;
}

.schedule > .taskList > .taskCard > .taskCard__box > .taskCard__box--rightContent > .uncompleted {
    color: var(--taskCard--uncompleted);
    font-weight: 800;
    font-size: 1.05em;
}

/* Mas detalles Popup */
.schedule > .moreDetailsTask {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1000;
    width: 100%;
    height: 100%;
    padding: 3vh;
    letter-spacing: 1px;
    background-color: var(--newtask__background-color);
    color: var(--body-color);
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s 0.1s, z-index 0s 0.5s, transform 0.5s 0.1s cubic-bezier(.1,.82,.25,1);
}

.schedule > .moreDetailsTask.front {
    z-index: 100;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s, z-index 0s, transform 0.5s cubic-bezier(.1,.82,.25,1);
}

.schedule > .moreDetailsTask > .moreDetailsCover {
    position: absolute;
    z-index: 0;
    background-color: black;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s 0.4s, z-index 0s 0.5s;
}

.schedule > .moreDetailsTask > .moreDetailsCover.darker {
    opacity: 0.4;
    z-index: 1;
    transition: opacity 0.2s, z-index 0s;
}

.schedule > .moreDetailsTask > .moreDetails__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 16vh;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--top > .moreDetails__top--leftContent {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.moreDetails__top--leftContent > div:not(:first-child) {
    margin-top: 1em;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--top > .moreDetails__top--leftContent > .moreDetails__leftContent--title {
    display: flex;
    align-items: center;
}


.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--top > .moreDetails__top--leftContent > .moreDetails__leftContent--title > .moreDetails__title--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #00b8ff;
    border-radius: 100%;
    margin-right: 0.7em;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--top > .moreDetails__top--leftContent > .moreDetails__leftContent--title > .moreDetails__title--icon > svg {
    width: 30px;
    height: 30px;
    fill: #f1f1f1;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--top > .moreDetails__top--leftContent > .moreDetails__leftContent--title > .moreDetails__title--content {
    display: flex;
    flex-direction: column;
}

.moreDetails__title--content > div:not(:first-child) {
    margin-top: 0.3em;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--top > .moreDetails__top--leftContent > .moreDetails__leftContent--title > .moreDetails__title--content > .moreDetails__titleContent--title {
    font-size: 1.19em;
    font-weight: 500;
    width: 100%;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--top > .moreDetails__top--leftContent > .moreDetails__leftContent--date {
    display: flex;
    align-items: center;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--top > .moreDetails__top--leftContent > .moreDetails__leftContent--date > .moreDetails__date--icon  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 0.7em;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--top > .moreDetails__top--leftContent > .moreDetails__leftContent--date > .moreDetails__date--icon > svg {
    width: 30px;
    height: 30px;
    fill: var(--moreDetailTask-svgDate-fill);
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--top > .moreDetails__top--leftContent > .moreDetails__leftContent--date > .moreDetails__date--content {
    display: flex;
    flex-direction: column;
}

.moreDetails__date--content > div:not(:first-child) {
    margin-top: 0.3em;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--top > .moreDetails__top--leftContent > .moreDetails__leftContent--date > .moreDetails__date--content > .moreDetails__titleContent--course {
    text-transform: uppercase;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--top > .moreDetails__top--rightContent {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 7px;
    z-index: 1;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--top > .moreDetails__top--rightContent > svg {
    width: 6px;
    fill: var(--moreDetailTask-svgDate-fill);
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--top > .moreDetails__moreMenu {
    position: absolute;
    z-index: 1;
    opacity: 0;
    transform: translateX(-9px);
    right: 0;
    width: 13.5vh;
    height: 17vh;
    background-color: var(--newtask__background-color);
    border-radius: 8px;
    transition: opacity 0.2s 0.2s, transform 0.3s 0.2s cubic-bezier(.1,.82,.25,1);
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--top > .moreDetails__moreMenu.show {
    opacity: 1;
    transform: translateX(-20px);
    transition: opacity 0.2s 0.2s, transform 0.4s 0.2s cubic-bezier(.1,.82,.25,1);
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--top > .moreDetails__moreMenu > .moreDetails__moreMenu--container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--top > .moreDetails__moreMenu > .moreDetails__moreMenu--container::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid var(--newtask__background-color);
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    right: -19px;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--top > .moreDetails__moreMenu > .moreDetails__moreMenu--container > .moreDetails__moreMenu--content {
    display: flex;
    flex-direction: column;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--top > .moreDetails__moreMenu > .moreDetails__moreMenu--container > .moreDetails__moreMenu--content > span:first-child {
    padding: 0.5em;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--top > .moreDetails__moreMenu > .moreDetails__moreMenu--container > .moreDetails__moreMenu--content > span:not(:first-child) {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--top > .moreDetails__moreMenu > .moreDetails__moreMenu--container > .moreDetails__moreMenu--content > span.moreDetails__moreMenuContent--separator {
    padding: 0;
    display: block;
    border: 1px solid #ffffff0f;
    border-bottom-width: 0;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 1em 0 0 0;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--bottom > .moreDetails__bottom--noteContent {
    display: flex;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--bottom > .moreDetails__bottom--noteContent > .moreDetails__bottomNote--Content {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1em;
    letter-spacing: 1px;
    white-space: pre-line;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--bottom > .moreDetails__bottom--noteContent > .moreDetails__bottomNote--Content::before {
    content: '';
    border: solid var(--moreDetailTask-border-color);
    border-top-width: 1px;
    border-bottom-width: 0;
    margin-bottom: 1em;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--bottom > .moreDetails__bottom--completedButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    border: 2px solid #00b8ff2b;
    background-color: var(--moreDetailTaks-uncompletedButton-color);
    transition: all 0.3s;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--bottom > .moreDetails__bottom--completedButton:active,
.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--bottom > .moreDetails__bottom--completedButton.completed {
    background-color: #1e252e;
    background-color: var(--moreDetailTaks-completedButton-color);
    border: 2px solid #00ff7e;
    transition: all 0.2s;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--bottom > .moreDetails__bottom--completedButton .moreDetails__completedButton--Completed {
    display: flex;
    font-size: 1.2em;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
    color: #959595a3;
    transition: all 0.3s;
}

.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--bottom > .moreDetails__bottom--completedButton:active .moreDetails__completedButton--Completed,
.schedule > .moreDetailsTask > .moreDetails__content > .moreDetails__content--bottom > .moreDetails__bottom--completedButton.completed .moreDetails__completedButton--Completed {
    color: var(--header-color);
    transition: all 0.2s;
}

/* Mensaje de no hay tareas */
.no_task {
    position: absolute;
    z-index: -999;
    letter-spacing: 1px;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.67, 0, 0.34, 0.99)
}

.no_task > div > div {
    width: 100%;
    text-align: center;
}

.no_task .no_taskYet {
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 0 0.6em 0;
}

.no_task .add_taskMsg {
    font-size: .7em;
    font-weight: 300;
}

.no_task.show {
    z-index: 0;
    opacity: 1;
}

.taskMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 95;
    transition: opacity 0.2s cubic-bezier(0.67, 0, 0.34, 0.99), z-index 0s;
}

.taskMenu.taskMenu--hide {
    z-index: -99;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.67, 0, 0.34, 0.99), z-index 0s 0.2s;
}

.taskMenu .task_btn--add {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: var(--agenda__taskBtn--background-color);
    border-radius: 100%;
    box-shadow: 2px 3px 6px #00000069;
}

.taskMenu .task_btn--add > svg {
    fill: var(--header-color);
    height: 35px;
    width: 35px;
    transition: transform 0.5s cubic-bezier(.1,.82,.25,1);
}

.taskMenu .task_btn--close > svg {
    transform: rotate(135deg);
}

.taskMenu .taskOpts > div {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.taskMenu .taskOpts > div > span {
    margin-right: .5em;
    font-weight: 500;
    color: var(--header-color);
}

.taskMenu .taskOpts .taskOpts--svgIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: var(--agenda__taskOpts--svgIcon);
    border-radius: 100%;    
}

.taskMenu .taskOpts .taskOpts--svgIcon > svg {
    fill: var(--header-color);
    height: 25px;
    width: 25px;
}

.taskMenu .taskOpts {
    height: 0;
    margin-bottom: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(1em);
    transition: opacity 0.2s cubic-bezier(0.67, 0, 0.34, 0.99), transform 0.5s cubic-bezier(.1,.82,.25,1), height 0s 0.2s, margin-bottom 0s 0.2s;
}

.taskMenu.taskMenu--opened .taskOpts {
    height: 100%;
    margin-bottom: 0.5em;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.2s cubic-bezier(0.67, 0, 0.34, 0.99), transform 0.5s cubic-bezier(.1,.82,.25,1), height 0s, margin-bottom 0s;
}

.newtask {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 2em;
    background-color: var(--newtask__background-color);
    color: var(--body-color);
    transform: scale(1);
    transition: opacity 0.2s, z-index 0s, transform 0.2s cubic-bezier(.1,.82,.25,1);
}

.newtask.newtask--hide {
    z-index: -1;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.2s, z-index 0s 0.2s, transform 0.3s cubic-bezier(.1,.82,.25,1);
}

.newtask__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.newtask__box--title {
    font-size: 1.7em;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: .8em;
}

.newtask__box--form {
    width: 100%;
    height: 100%;
}

.newtask__box--form > form {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.newtask__box--form > form > :nth-child(1) {
    z-index: 1;
}

.newtask__box--form > form > :nth-child(2) {
    position: absolute;
    z-index: 0;
    height: 100%;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s, transform 0.5s cubic-bezier(.1,.82,.25,1);
}

.newtask__form {
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s 0.1s, transform 0.5s 0.1s cubic-bezier(.1,.82,.25,1);
}

.newtask__box--form .newtask__form.toLeft {
    transform: translateX(-100%);
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s cubic-bezier(.1,.82,.25,1);
}

.newtask__box--form .newtask__form.toFront {
    transform: scale(1);
    opacity: 1;
    z-index: 1;
    transition: opacity 0.3s 0.1s cubic-bezier(0.67, 0, 0.34, 0.99), transform 0.5s 0.1s cubic-bezier(.1,.82,.25,1);
}

.newtask__form > div:not(:first-child) {
    margin-top: 1.4em;
}

.newtask__form .label {
    font-size: 1em;
    letter-spacing: 3px;
}

.newtask__form input {
    font-size: 11px;
    font-family: inherit;
    border: 2px solid #0000;
    border-radius: .3em;
    background-color: var(--newtask__form--inputBackground-color);
    color: var(--login-input-color);
    margin-top: 0.8em;
    width: 100%;
    height: 50px;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 10px 25px;
    transition: all .2s;
}

.newtask__form textarea {
    resize: none;
    font-size: 11px;
    font-family: inherit;
    padding: 10px 25px;
    border: 2px solid #0000;
    border-radius: .3em;
    background-color: var(--newtask__form--inputBackground-color);
    color: var(--login-input-color);
    margin-top: 0.8em;
    width: 100%;
    height: 89px;
    letter-spacing: 2px;
    font-weight: 600;
    transition: all .2s;
}

.newtask__form textarea:focus-visible {
    outline: none;
    border-color: #0088ff;
    color: var(--login-input-focusVisible-color);
    transition: all .3s;
}

.newtask__form input[type="datetime-local"]:required:invalid {
    color: var(--login-input-placeholder-color);
}

.newtask__form input::placeholder, .newtask__form textarea::placeholder {
    color: var(--login-input-placeholder-color);
}

.newtask__form input:focus-visible {
    outline: none;
    border-color: #0088ff;
    color: var(--login-input-focusVisible-color);
    transition: all 0.3s;
}

#ecSettings {
    display: flex;
    flex-direction: column;
}

#ecSettings > #ecModeSelector {
    display: flex;
    width: 100%;
    margin-top: .8em;
}

#ecSettings > #ecModeSelector > #ecMode {
    margin-right: 10px;
}

#ecSettings > #ecModeSelector > #ecModeList {
    width: inherit;
}

#ecSettings > #ecModeSelector > #ecModeList > .selectBox {
    display: flex;
    position: relative;
    flex-direction: column;
}

#ecSettings > #ecModeSelector > #ecModeList > .selectBox > .selectedOption {
    z-index: 2;
    border-radius: 0.3em;
    background-color: var(--newtask__form--inputBackground-color);
    position: relative;
    order: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: border .2s .3s, border-bottom-left-radius .1s .4s, border-bottom-right-radius .1s .4s;
}

#ecSettings > #ecModeSelector > #ecModeList > .selectBox > .optionsContainer.ecActive + .selectedOption {
    border: 2px solid #0088ff;
    border-bottom: none;
    transition: border 0.3s, border-radius 0.05s;
}

#ecSettings > #ecModeSelector > #ecModeList > .selectBox > .selectedOption::after {
    content: '';
    background-image: url(../assets/resources/arrow-down.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
}

#ecSettings > #ecModeSelector > #ecModeList > .selectBox > .optionsContainer {
    position: absolute;
    top: 49px;
    width: 100%;
    max-height: 0.2em;
    opacity: 0;
    border: 2px solid #0000;
    border-top: none;
    order: 1;
    z-index: 1;
    overflow: hidden;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    font-size: 2vh;
    background-color: var(--newtask__form--inputBackground-color);
    transition: max-height .2s, border 0.3s 0.3s, opacity 0.3s 0.3s;
}

#ecSettings > #ecModeSelector > #ecModeList > .selectBox > .optionsContainer.ecActive {
    border: 2px solid #0088ff;
    border-top: none;
    max-height: 16em;
    opacity: 1;
    transition: max-height 0.2s, border 0.25s, opacity 0.1s;
}

#ecSettings > #ecModeSelector > #ecModeList > .selectBox > .optionsContainer.invalid {
    opacity: 1;
    border: 2px solid #ff0000a3;
    border-top: none;
    transition: max-height .2s, border 0s, opacity 0.3s;
}

#ecSettings > #ecModeSelector > #ecModeList > .selectBox > .optionsContainer.ecActive + 
.selectedOption::after {
    transform: rotateX(180deg);
}

#ecSettings > #ecModeSelector > #ecModeList > .selectBox > .optionsContainer.ecActive + 
.selectedOption {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#ecSettings > #ecModeSelector > #ecModeList > .selectBox > .optionsContainer > .option,
#ecSettings > #ecModeSelector > #ecModeList > .selectBox > .selectedOption {
    font-weight: 500;
    padding: 10px 25px;
    border: 2px solid #0000;
    border-bottom: none;
    height: 50px;
}

#ecSettings > #ecModeSelector > #ecModeList > .selectBox > .optionsContainer > .option:active {
    background-color: #26292c;
}

#ecSettings > #ecModeSelector > #ecModeList > .selectBox > .optionsContainer > .option > .radio {
    display: none;
}

.newtask__form .invalid:invalid {
    border: 2px solid #ff0000a3;
}

.newtask__form #ecSettings > #ecModeSelector > #ecModeList > .selectBox > .selectedOption.invalid {
    border: 2px solid #ff0000a3;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: none;
    transition: all .3s;
}

.newtask__form #ecSettings > #ecModeSelector > #ecModeList > .selectBox > .optionsContainer.ecActive + .selectedOption.invalid {
    border: 2px solid #ff0000a3;
    border-bottom: 0;
}

.newtask__form--btns {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.newtask__form--btns > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.3em;
    width: 6em;
}

.newtask__form--denyBtn {
    margin-right: 1em;
    opacity: .4;
    font-weight: 400;
}

.newtask__form--acceptBtn {
    border-radius: 0.3em;
    background-color: var(--acceptBtn-background-color);
    color: var(--header-color);
    font-weight: 500;
    transition: all .7s 0.2s;
}

.newtask__form--acceptBtn:active {
    background-color: #2ba0ff;
    transition: all 0.25s;
}

/* === Log === */

.box__log {
    font-family: sans-serif;
    font-size: 17px;
    letter-spacing: 1.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin: 5em 0;
}

.box__log--output {
    width: 583px;
    height: 400px;
    border-radius: 22px;
    background-color: #00000047;
}

.box__log--output > .box__log--output--wrapper {
    height: calc(400px - 3em);
}

.box__log--output > .box__log--output--wrapper > #log {
    height: inherit;
    margin: 1.5em;
    overflow-y: scroll;
}

.box__log--output > .box__log--output--wrapper > #log > p {
    margin: 0 0 1em 0;
}

/* === Asistente === */

main.assistant {
    padding: 3em 0 0 0;
}

.assistMainChat {
    display: flex;
    width: 100%;
    height: 100%;
}

.assistMainChat > .assistMainChat__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.assistMainChat > .assistMainChat__container > .assistMainChat__container--textBox {
    padding: 0.3em;
    display: flex;
    width: 100%;
    height: 51.05px;
}

.assistMainChat > .assistMainChat__container > .assistMainChat__container--textBox > .assistMainChat__textBox--input {
    width: 100%;
    height: 100%;
    padding: 10px 25px;
    border: 2px solid #0000;
    outline: none;
    border-radius: 1.2em;
    font-size: 14px;
    font-family: inherit;
    letter-spacing: 2px;
    font-weight: 600;
    background-color: #1c222c;
    color: var(--login-input-color);
    transition: all .2s;
}

.assistMainChat > .assistMainChat__container > .assistMainChat__container--textBox > .assistMainChat__textBox--input:focus-visible {
    border: 2px solid #1783db;
    color: var(--header-color);
}

.assistMainChat > .assistMainChat__container > .assistMainChat__container--textBox > .assistMainChat__textBox--input::placeholder {
    color: var(--login-input-placeholder-color);
}

.assistMainChat > .assistMainChat__container > .assistMainChat__container--textBox > .assistMainChat__textBox--input.invalid {
    border: 2px solid #ff0000a3;
}

.assistMainChat > .assistMainChat__container > .assistMainChat__container--textBox > .assistMainChat__textBox--send {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 46.24px;
    border-radius: 20em;
    margin-left: 0.3em;
    background-color: var(--header-background-color);
}

.assistMainChat > .assistMainChat__container > .assistMainChat__container--textBox > .assistMainChat__textBox--send > svg {
    width: 20px;
    height: 20px;
    fill: var(--header-color);
}

.assistMainChat > .assistMainChat__container > .assistMainChat__container--chatBubbles {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0 0.3em;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 300;
}

.assistMainChat > .assistMainChat__container > .assistMainChat__container--chatBubbles > .assistMainChat__chatBubbles--myMessage {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 6px;
}

.assistMainChat > .assistMainChat__container > .assistMainChat__container--chatBubbles > .assistMainChat__chatBubbles--myMessage > .assistMainChat__myMessage--Message {
    background-color: #1d242c;
    border-radius: 17px;
    padding: 9px 13px;
}

.assistMainChat > .assistMainChat__container > .assistMainChat__container--chatBubbles > .assistMainChat__chatBubbles--botMessage {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 6px;
}

.assistMainChat > .assistMainChat__container > .assistMainChat__container--chatBubbles > .assistMainChat__chatBubbles--botMessage > .assistMainChat__botMessage--content {
    display: flex;
    flex-direction: column;
    padding: 9px 13px;
    width: 333px;
    border-radius: 17px;
    background-color: #00569b;
}

.assistMainChat > .assistMainChat__container > .assistMainChat__container--chatBubbles > .assistMainChat__chatBubbles--botMessage > .assistMainChat__botMessage--content > div {
    display: inline;
}

.assistMainChat > .assistMainChat__container > .assistMainChat__container--chatBubbles > .assistMainChat__chatBubbles--botMessage > .assistMainChat__botMessage--content > div:not(:first-child) {
    margin-top: 3px;
}

/* === Responsive para Tablets === */

@media only screen and (max-width: 706px) {
    .menu_title {
        font-size: 3.2vh;
    }

    .menu_title .profile--image {
        margin-left: 43px
    }

    .menu_title > span {
        margin-left: 20px;
    }

    .options__menu .option {
        padding: 3vh 0px;
        
    }
    
    .options__menu .option svg {
        width: 2.6vh;
        margin-right: 3vh;
    }

    .options__menu a:not(.selected) {
        margin-left: 43px;
    }

    .selected:before {
        margin-right: 40px;
    }

    .profile__data--editable::after {
        margin-right: 30px;
    }

    .no_task > div > div {
        width: 610px;
    }
    
    .taskMenu .task_btn--add {
        height: 70px;
        width: 70px;
        right: 50px;
        bottom: 50px;
    }
    
    .taskMenu .task_btn--add > svg {
        height: 45px;
        width: 45px;
    }

    .taskMenu .taskOpts > a {
        margin-right: 7.5px;
    }

    .taskMenu .taskOpts .taskOpts--svgIcon {
        height: 55px;
        width: 55px;
    }
    
    .taskMenu .taskOpts .taskOpts--svgIcon > svg {
        height: 30px;
        width: 30px;
    }
}

/* === AlertBox === */

.alertBox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 8vh;
    right: 4vw;
    height: 60px;
    width: max-content;
    border-radius: 0.5em;
    overflow: hidden;
    z-index: 96;
    background-color: var(--alertSuccess-background-color);
    opacity: 0;
    transition: opacity 0.2s;
}

.alertBox.error {
    background-color: var(--alertError-background-color);
}

.alertBox.show {
    opacity: 1;
    transition: opacity 0.2s;
}

.alertBox > .alertBox__container {
    position: relative;
    width: 100%;
    height: 100%;
}

.alertBox > .alertBox__container > .alertBox__container--close {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 15px;
    width: 15px;
    fill: var(--alert-color);
}

.alertBox.error > .alertBox__container > .alertBox__container--close {
    fill: var(--alertError-color);
}

.alertBox > .alertBox__container > .alertBox__container--message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 0.7em;
}

.alertBox > .alertBox__container > .alertBox__container--message > svg {
    height: 20px;
    margin-right: 0.5em;
    fill: var(--alert-color);
}

.alertBox.error > .alertBox__container > .alertBox__container--message > svg {
    height: 20px;
    margin-right: 0.5em;
    fill: var(--alertError-color);
}

.alertBox > .alertBox__container > .alertBox__container--message {
    color: var(--alert-color);
    font-weight: 500;
}

.alertBox.error > .alertBox__container > .alertBox__container--message {
    color: var(--alertError-color);
}

.alertBox > .alertBox__container > .alertBox__container--timeoutBar {
    position: absolute;
    bottom: 0;
    height: 5px;
    width: 100%;
    background-color: #00000052;
    transform: translateX(0);
    transition: transform 0s 0.3s;
}

.alertBox.show > .alertBox__container > .alertBox__container--timeoutBar {
    transform: translateX(-100%);
    transition: transform 7s cubic-bezier(0, 0, 0, 0);
}