
{{> header}}

{{> menu}}

<main id="main">
    <div class="socialNews">
        <div class="socialNews--title">Novedades</div>
        <div class="socialNews__posts">

            <div class="socialNews__posts--newCard">
                <div class="socialNews__newCard">
                    <div class="socialNews__newCard--img">
                        <img src="../assets/img/app__home/20220417155646.jpg" alt="">
                    </div>
                    <div class="socialNews__newCard--text">Suscribete a nuestro canal de YouTube: https://youtube.com/channel/UC--RYQBZ-2XAaCHhpU5L9qQ
                    </div>
                </div>
            </div>

            <div class="socialNews__posts--newCard">
                <div class="socialNews__newCard">
                    <div class="socialNews__newCard--img">
                        <img src="../assets/img/app__home/20220307002727.jpg" alt="">
                    </div>
                    <div class="socialNews__newCard--text">Queda programado para el Martes 08 de Marzo...
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</main>