<header class="header">
    <div class="header__wave">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none">
            <path class="wave" d="M-80.98,110.05 C127.82,206.75 264.95,-73.50 596.22,151.48 L494.64,-63.63 L-89.45,-24.16 Z"></path>
        </svg>
    </div>
</header>   

<main>
    <div class="logo__index">
        <svg class="fade-in" viewBox="0 0 257.56 205.4">
            <path class="icon_bg" d="M248.19,39.69V195.54a416.58,416.58,0,0,0-48.85-3.92c-16.16-.2-32.29.16-48.49,1.52a131.72,131.72,0,0,1,27.4-12.08c9.82-3.11,19.83-5.49,30.11-6,10.09-.46,20.22-.1,30.58-.1,2.3-1.21,2.25-3.62,2.25-6,0-13.22,0-74.37,0-91.37,0-11.93.05-38.92.05-38.92Z"/>
            <path class="icon_bg" d="M231.71,9.7v156a145.72,145.72,0,0,0-51,5c-16.61,4.62-47.34,21.57-47.34,21.57V107.4c5.78-2.12,15.55-5.68,20.45-7.44v44.29l13.71-4.59V40l-13.78,4.62V89.7l-20.36,7V38.08C162.91,17.85,195.06,6.82,231.71,9.7Z"/>
            <path class="icon_bg" d="M106.72,193.14c-16.2-1.36-32.33-1.72-48.49-1.52a416.58,416.58,0,0,0-48.85,3.92V39.69l7-1s0,27,0,38.92c0,17,0,78.15,0,91.37,0,2.39-.05,4.8,2.25,6,10.36,0,20.49-.36,30.58.1,10.28.47,20.29,2.85,30.11,6A131.49,131.49,0,0,1,106.72,193.14Z"/>
            <path class="icon_bg" d="M124.17,107.4v84.85S93.44,175.3,76.83,170.68a145.72,145.72,0,0,0-51-5V9.7c36.65-2.88,68.81,8.15,98.29,28.38V96.65l-20.36-7V44.63L90,40v99.65l13.7,4.59V100Z"/>
            <path class="border_book" d="M257.54,37.66c0-4.86-1-6-5.73-6.75-3.45-.56-6.91-1.11-10.56-1.68,0-7,0-13.7,0-20.41.06-6.14-1-7.46-7.18-8C229.38.36,224.65,0,219.94,0c-27.84,0-53.52,7.81-77.57,21.48-4.58,2.59-9,5.46-13.58,8.25-4.58-2.79-9-5.66-13.59-8.25C91.15,7.81,65.47,0,37.63,0c-4.71,0-9.44.36-14.15.79-6.22.57-7.24,1.89-7.18,8,.07,6.71,0,13.43,0,20.41-3.64.57-7.11,1.12-10.56,1.68C1,31.67,0,32.8,0,37.66,0,56.17,0,196.16,0,198.53c0,6.14,1.58,7.44,7.75,6.67q12.3-1.53,24.62-2.9c14.7-1.61,29.47-1.68,44.23-1.43a330.44,330.44,0,0,1,46.52,4,35.51,35.51,0,0,0,11.27,0,330.44,330.44,0,0,1,46.52-4c14.76-.25,29.53-.18,44.23,1.43q12.32,1.35,24.62,2.9c6.17.77,7.73-.53,7.75-6.67C257.54,196.16,257.6,56.17,257.54,37.66Zm-199.31,154a416.58,416.58,0,0,0-48.85,3.92V39.69l7-1s0,27,0,38.92c0,17,0,78.15,0,91.37,0,2.39-.05,4.8,2.25,6,10.36,0,20.49-.36,30.58.1,10.28.47,20.29,2.85,30.11,6a131.49,131.49,0,0,1,27.4,12.08C90.52,191.78,74.39,191.42,58.23,191.62Zm75.17.63V106.47h-9.23v85.78S93.44,175.3,76.83,170.68a145.72,145.72,0,0,0-51-5V9.7c36.65-2.88,68.81,8.15,98.29,28.38v59.1l4.64,1.72,4.63-1.72V38.08C162.91,17.85,195.06,6.82,231.71,9.7v156a145.72,145.72,0,0,0-51,5C164.13,175.3,133.4,192.25,133.4,192.25Zm114.79,3.29a416.58,416.58,0,0,0-48.85-3.92c-16.16-.2-32.29.16-48.49,1.52a131.72,131.72,0,0,1,27.4-12.08c9.82-3.11,19.83-5.49,30.11-6,10.09-.46,20.22-.1,30.58-.1,2.3-1.21,2.25-3.62,2.25-6,0-13.22,0-74.37,0-91.37,0-11.93.05-38.92.05-38.92l7,1Z"/>
            <path class="H" d="M167.56,40v99.65l-13.71,4.59V100c-4.9,1.76-14.67,5.32-20.45,7.44l-4.61,1.68-4.62-1.68L103.72,100v44.29L90,139.66V40l13.77,4.62V89.7l20.36,7,4.64,1.58,4.63-1.58,20.36-7V44.63Z"/>
        </svg>
    </div>

    <div class="login">
        <div class="loginchild">
            <h2>¡Hola!</h2>
            <h3>Inicia sesión en tu cuenta</h3>
            <form id="signInUpForm" class="loginchild__form" action="/signin" method="POST">
                <div class="inputSignIn__Wrapper">
                    <input id="usernameIndex" required type="text" name="username" placeholder="Nombre de usuario" autocomplete="off" minlength="3" maxlength="15" autofocus>
                    <input required type="password" name="pass" placeholder="Contraseña" autocomplete="off" minlength="4">
                </div>
                <div class="signin__btns">
                    <div class="authBtns center mb">
                        {{!-- <a href="/recoverpassword">¿Olvidaste tu contraseña?</a> --}}
                        <a href="/signup" id="createaccount">¿Aún no tienes una cuenta?</a>
                    </div>
                    <div class="button" id="signInUpBtn">Ingresar</div>
                </div>
            </form>
        </div>
    </div>
</main>